/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2016, 12:12:29 PM
    Author     : Leaf
*/

form {
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    
}

.form-body {
    display: flex;
    margin: 30vh auto;
    width: 200px;
    background-repeat: no-repeat 
}


body {
    margin: 100px;
    display: flex;
        flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Karla";
    text-shadow: 1px 1px 1px grey;
    color: white;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(#ffb3ba, #ffdfba, #baffc9, #bae1ff, #ffb3ba);
}


[type="submit"] {
    border: 2px solid white;
    color: black;
    background-color: RGBA(225, 225, 225, 0.2);
    padding: 5px 10px;
}

[type="number"] {
    padding: 5px 10px;
    color: black;
    border: 1px solid white;
}

div {
    display: inline-block;
}

.forest {
    text-align: center;
}

.box {
    width: 10px;
    height: 10px;
    background-color: green;
}

.trunk {
        
    width: 10px;
    height: 10px;
    background-color: brown;
}

.star {
    position: relative;
    top: 7px;
    
}